


<div class="sideloginform">
    <img src="~/assets/imgs/nrrclogo-v.svg" class="logoLoginForm w-25 mx-auto mb-3" alt="" />
    <h3>

        Please check your email to activate your account
    </h3>

    <form method="post">
        @{
            if (ViewBag.HaveError != null)
            {
                if (ViewBag.HaveError)
                {
                    <div id="authError" class="alert alert-danger text-center">
                        <div asp-validation-summary="All"> </div>
                    </div>
                }
            }
        }

    </form>


</div>

<div class="sidelogin">
    <img src="~/nrrclogo-white.svg" class="w-50 mx-auto d-block mt-3" alt="" />
</div>

