@*@model ForgetPasswordViewModel

@{
    ViewBag.Title = "Forget Password";
}



<link href="~/assets/css2/login.css" rel="stylesheet" />

<div class="sideloginform">
    <img src="~/assets/imgs/nrrclogo-v.svg" class="logoLoginForm w-25 mx-auto mb-3" alt="" />
    <h1>Forget Password</h1>
    <form method="post">
        <div id="authError" class="alert alert-danger text-center">
            <div asp-validation-summary="All"> </div>
        </div>
        <div class="my-3 row">
            <div class="form-floating">
                <input asp-for="Email" class="form-control" />
                <label for="Email">Email</label>
            </div>
            <h6 id="passcheck" class="text-danger">
                <span asp-validation-for="Email" class="text-danger"></span>
            </h6>
        </div>
        <input id="submit" type="submit" value="Reset" class="btn btn-gold w-100 my-2" />
    </form>


</div>

<div class="sidelogin">
    <img src="~/nrrclogo-white.svg" class="w-50 mx-auto d-block mt-3" alt="" />
</div>*@