@{
    ViewBag.Title = "User Reset Password";
}



<link href="~/assets/css2/login.css" rel="stylesheet" />

<div class="sideloginform">
    <img src="~/assets/imgs/nrrclogo-v.svg" class="logoLoginForm w-25 mx-auto mb-3" alt="" />
    <h1>Reset Password Confirmation</h1>
    <form method="post">
        
        <div class="my-3 row">
            <a asp-action="Login" class="btn btn-gold w-100 my-2">Please click here to login</a>
        </div>

        
    </form>


</div>

<div class="sidelogin">
    <img src="~/nrrclogo-white.svg" class="w-50 mx-auto d-block mt-3" alt="" />
</div>