<div class="w-100 container border rounded shadow mt-5 bg-white px-4">
  <div
    class="mainContent d-flex flex-wrap justify-content-evenly align-content-center mt-4"
  >
    <form
      style="width: 100%"
      enctype="multipart/form-data"
      [formGroup]="addNewSourceForm"
    >
      <div class="row my-2">
        <h4>{{ "addNewSource.addUnSealedSource" | translate }}</h4>
      </div>
      <div class="row d-flex w-100">
        <!-- Permit -->
        <div class="px-1 mb-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <label for="permitNumber" class="mx-1">
            {{ "addNewSource.permitNumber" | translate }}
            <span class="text-danger valdiation-text">*</span></label
          >
          <p-dropdown
            [options]="permits"
            formControlName="permitNumber"
            optionLabel="permitNumber"
            [filter]="true"
            filterBy="permitNumber"
            [showClear]="true"
            placeholder="{{ '--Select--' | translate }}"
            #permitNumber
            styleClass="w-100 "
          >
            <ng-template pTemplate="selectedItem">
              <div class="country-item country-item-value" *ngIf="permitNumber">
                <div>
                  {{ permitNumber.value.permitNumber }}
                </div>
              </div>
            </ng-template>
            <ng-template let-r pTemplate="item">
              <div class="country-item">
                <div>
                  {{ r?.permitNumber }}
                </div>
              </div>
            </ng-template>
          </p-dropdown>

          <div
            id="error"
            class="form-text d-block text-danger"
            *ngIf="
              (addNewSourceForm.get('permitNumber')?.touched &&
                addNewSourceForm.get('permitNumber')?.errors) ||
              (submitBtnClicked && addNewSourceForm.get('permitNumber')?.errors)
            "
          >
            {{ "addNewSource.validationText" | translate }}
          </div>
        </div>

        <div class="px-1 mb-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <label for="transactionType" class="mx-1">
            {{ "addNewSource.fromImportOrTransfer" | translate }}
            <span class="text-danger valdiation-text">*</span></label
          >
          <p-dropdown
            [disabled]="true"
            [options]="addTypes"
            formControlName="transactionType"
            optionLabel="name"
            [filter]="false"
            [showClear]="true"
            placeholder="{{ '--Select--' | translate }}"
            #transactionType
            styleClass="w-100 "
            (onChange)="getSourcesByPermitId()"
          >
            <ng-template pTemplate="selectedItem">
              <div
                class="country-item country-item-value"
                *ngIf="transactionType"
              >
                <div>
                  {{ transactionType.value.name }}
                </div>
              </div>
            </ng-template>
            <ng-template let-r pTemplate="item">
              <div class="country-item">
                <div>
                  {{ r?.name }}
                </div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>

        <div
          *ngIf="addNewSourceForm.get('transactionType').value?.id == 2"
          class="px-1 mb-3 col-lg-3 col-md-6 col-sm-12 col-xs-12"
        >
          <label for="manufacturerserial" class="mx-1"
            >{{ "addNewSource.sourceNumber" | translate }}
          </label>
          <p-listbox
            [options]="transferList"
            formControlName="transferSource"
            [metaKeySelection]="false"
            [checkbox]="true"
            [filter]="false"
            [multiple]="false"
            filterBy="id"
            optionLabel="id"
            [listStyle]="{ 'max-height': '250px' }"
            [style]="{ width: '100%' }"
            (onChange)="getSelectedSourceFromPermit()"
          >
            <ng-template let-item pTemplate="item">
              <div class="country-item">
                <div>{{ item.serialNumber }}</div>
              </div>
            </ng-template>
          </p-listbox>
        </div>
        <hr class="mt-5" />
      </div>

      <div
        class="bg-light border rounded my-3 p-2 row w-100 align-items-center"
        style="min-height: 6.5rem"
      >
        <div class="form-check col-lg-3">
          <input
            formControlName="selectedMixOrNot"
            class="form-check-input"
            type="radio"
            name="selectedMixOrNot"
            value="single"
            id="single"
          />
          <label class="form-check-label" for="single">
            {{ "addNewSource.singleRadionuclide" | translate }}
          </label>
        </div>
        <div class="form-check col-lg-3">
          <input
            formControlName="selectedMixOrNot"
            class="form-check-input"
            type="radio"
            name="selectedMixOrNot"
            id="mix"
            value="mix"
          />
          <label class="form-check-label" for="mix">{{
            "addNewSource.mixedRadionuclide" | translate
          }}</label>
        </div>
        <div
          *ngIf="addNewSourceForm.get('selectedMixOrNot').value == 'mix'"
          class="px-1 mb-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 my-3"
        >
          <label for="NumOfRadionuclides" class="mx-1"
            >{{ "addNewSource.numOfRadionuclides" | translate }}
            <span class="text-danger valdiation-text">*</span></label
          >
          <div class="d-flex justify-content-between align-items-center">
            <input
              type="number"
              min="1"
              class="form-control"
              #numOfRadionuclide
            />
            <button
              class="btn btn-success p-2 mx-2"
              (click)="addRadionuclides(numOfRadionuclide.value)"
            >
              {{ "ok" | translate }}
            </button>
          </div>
          <div
            id="error"
            class="form-text d-block text-danger"
            *ngIf="
              addNewSourceForm.get('selectedMixOrNot').value == 'mix' &&
              !numOfRadionuclide.value &&
              addRadionuclideClicked
            "
          >
            {{ "addNewSource.validationText" | translate }}
          </div>
        </div>
      </div>

      <div
        class="source-type-block bg-light border rounded my-3 p-2 row w-100 py-4"
      >
        <h5 class="col-12 mb-3">{{ "addNewSource.sourceInfo" | translate }}</h5>
        <section class="row w-100 m-0 p-0">
          <div class="px-1 mb-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <label for="manufacturerserial" class="mx-1"
              >{{ "addNewSource.manufacturerSerialNo" | translate }}
              <span class="text-danger valdiation-text">*</span></label
            >
            <input
              type="text"
              class="form-control"
              placeholder="{{ 'mandatory' | translate }}"
              id="manufacturerserial"
              formControlName="manufacturerSerialNo"
              required
              minlength="3"
              maxlength="20"
            />
            <div
              id="error"
              class="form-text d-block text-danger"
              *ngIf="
                submitBtnClicked &&
                addNewSourceForm.get('manufacturerSerialNo')?.errors
              "
            >
              {{ "addNewSource.validationText" | translate }}
            </div>
          </div>

          <div class="px-1 mb-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <label for="manufacturerInput" class="mx-1"
              >{{ "addNewSource.manufacturer" | translate }}
              <span class="text-danger valdiation-text">*</span></label
            >
            <p-dropdown
              [options]="lookups['Manufacturer']"
              formControlName="manufacturer"
              optionLabel="displayNameEn"
              [filter]="true"
              filterBy="displayNameEn,displayNameAr"
              [showClear]="true"
              placeholder="{{ '--Select--' | translate }}"
              #manufacturer
              styleClass="w-100 "
            >
              <ng-template pTemplate="selectedItem">
                <div
                  class="country-item country-item-value"
                  *ngIf="manufacturer"
                >
                  <div>
                    {{
                      lang == "en"
                        ? manufacturer.value.displayNameEn
                        : manufacturer.value.displayNameAr
                    }}
                  </div>
                </div>
              </ng-template>
              <ng-template let-r pTemplate="item">
                <div class="country-item">
                  <div>
                    {{ lang == "en" ? r?.displayNameEn : r?.displayNameAr }}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
            <div
              id="error"
              class="form-text d-block text-danger"
              *ngIf="
                submitBtnClicked && addNewSourceForm.get('manufacturer')?.errors
              "
            >
              {{ "addNewSource.validationText" | translate }}
            </div>
          </div>

          <div class="px-1 mb-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <label for="manufacturerCountry" class="mx-1"
              >{{ "addNewSource.manufacturerCountry" | translate }}
              <span class="text-danger valdiation-text">*</span></label
            >
            <p-dropdown
              [options]="lookups['ManufacturerCountry']"
              formControlName="manufacturerCountry"
              optionLabel="displayNameEn"
              [filter]="true"
              filterBy="displayNameEn,displayNameAr"
              [showClear]="true"
              placeholder="{{ '--Select--' | translate }}"
              #manufacturerCountry
              styleClass="w-100 "
            >
              <ng-template pTemplate="selectedItem">
                <div
                  class="country-item country-item-value"
                  *ngIf="manufacturerCountry"
                >
                  <div>
                    {{
                      lang == "en"
                        ? manufacturerCountry.value.displayNameEn
                        : manufacturerCountry.value.displayNameAr
                    }}
                  </div>
                </div>
              </ng-template>
              <ng-template let-r pTemplate="item">
                <div class="country-item">
                  <div>
                    {{ lang == "en" ? r?.displayNameEn : r?.displayNameAr }}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
            <div
              id="error"
              class="form-text d-block text-danger"
              *ngIf="
                submitBtnClicked &&
                addNewSourceForm.get('manufacturerCountry')?.errors
              "
            >
              {{ "addNewSource.validationText" | translate }}
            </div>
          </div>

          <div class="px-1 mb-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <label for="facilitySourceId" class="mx-1">
              {{ "addNewSource.facilitySourceID" | translate }}
            </label>
            <input
              type="text"
              class="form-control"
              id="facilitySourceId"
              placeholder="{{ 'optional' | translate }}"
              formControlName="facilitySourceID"
              minlength="3"
              maxlength="20"
            />
          </div>

          <div class="px-1 mb-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <label for="sourceModel" class="mx-1">
              {{ "addNewSource.sourceModel" | translate }}
              <span class="text-danger valdiation-text">*</span>
            </label>
            <input
              type="text"
              class="form-control"
              id="sourceModel"
              placeholder="{{ 'mandatory' | translate }}"
              formControlName="sourceModel"
              maxlength="8"
            />
          </div>

          <hr />
          <!-- Characterisrics -->
          <section class="w-100">
            <h5 class="col-12 mb-3">
              {{ "addNewSource.characterisrics" | translate }}
            </h5>
            <div class="row">
              <div class="px-1 mb-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <label for="status" class="mx-1"
                  >{{ "addNewSource.status" | translate }}
                  <span class="text-danger valdiation-text">*</span></label
                >
                <p-dropdown
                  [options]="statusLookup"
                  formControlName="status"
                  optionLabel="displayNameEn"
                  [filter]="true"
                  filterBy="displayNameEn,displayNameAr"
                  [showClear]="true"
                  placeholder="{{ '--Select--' | translate }}"
                  #status
                  styleClass="w-100 "
                >
                  <ng-template pTemplate="selectedItem">
                    <div class="country-item country-item-value" *ngIf="status">
                      <div>
                        {{
                          lang == "en"
                            ? status.value.displayNameEn
                            : status.value.displayNameAr
                        }}
                      </div>
                    </div>
                  </ng-template>
                  <ng-template let-r pTemplate="item">
                    <div class="country-item">
                      <div>
                        {{ lang == "en" ? r?.displayNameEn : r?.displayNameAr }}
                      </div>
                    </div>
                  </ng-template>
                </p-dropdown>
                <div
                  id="error"
                  class="form-text d-block text-danger"
                  *ngIf="
                    submitBtnClicked && addNewSourceForm.get('status')?.errors
                  "
                >
                  {{ "addNewSource.validationText" | translate }}
                </div>
              </div>

              <div class="px-1 mb-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <label for="associatedEquipment" class="mx-1"
                  >{{ "addNewSource.associatedEquipment" | translate }}
                  <span class="text-danger valdiation-text">*</span></label
                >
                <p-dropdown
                  [options]="lookups['Associated Equipment']"
                  formControlName="associatedEquipment"
                  optionLabel="displayNameEn"
                  [filter]="true"
                  filterBy="displayNameEn,displayNameAr"
                  [showClear]="true"
                  placeholder="{{ '--Select--' | translate }}"
                  #associatedEquipment
                  styleClass="w-100 "
                >
                  <ng-template pTemplate="selectedItem">
                    <div
                      class="country-item country-item-value"
                      *ngIf="associatedEquipment"
                    >
                      <div>
                        {{
                          lang == "en"
                            ? associatedEquipment.value.displayNameEn
                            : associatedEquipment.value.displayNameAr
                        }}
                      </div>
                    </div>
                  </ng-template>
                  <ng-template let-r pTemplate="item">
                    <div class="country-item">
                      <div>
                        {{ lang == "en" ? r?.displayNameEn : r?.displayNameAr }}
                      </div>
                    </div>
                  </ng-template>
                </p-dropdown>
                <div
                  id="error"
                  class="form-text d-block text-danger"
                  *ngIf="
                    submitBtnClicked &&
                    addNewSourceForm.get('associatedEquipment')?.errors
                  "
                >
                  {{ "addNewSource.validationText" | translate }}
                </div>
              </div>

              <div class="px-1 mb-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <label for="physicalForm" class="mx-1"
                  >{{ "addNewSource.physicalForm" | translate }}
                  <span class="text-danger valdiation-text">*</span></label
                >
                <p-dropdown
                  [options]="lookups['PhysicalForm']"
                  formControlName="physicalForm"
                  optionLabel="displayNameEn"
                  [filter]="true"
                  filterBy="displayNameEn,displayNameAr"
                  [showClear]="true"
                  placeholder="{{ '--Select--' | translate }}"
                  #physicalForm
                  styleClass="w-100"
                  id="physicalForm"
                >
                  <ng-template pTemplate="selectedItem">
                    <div
                      class="country-item country-item-value"
                      *ngIf="physicalForm"
                    >
                      <div>
                        {{
                          lang == "en"
                            ? physicalForm.value.displayNameEn
                            : physicalForm.value.displayNameAr
                        }}
                      </div>
                    </div>
                  </ng-template>
                  <ng-template let-r pTemplate="item">
                    <div class="country-item">
                      <div>
                        {{ lang == "en" ? r?.displayNameEn : r?.displayNameAr }}
                      </div>
                    </div>
                  </ng-template>
                </p-dropdown>

                <div
                  id="error"
                  class="form-text d-block text-danger"
                  *ngIf="
                    submitBtnClicked &&
                    addNewSourceForm.get('physicalForm').invalid
                  "
                >
                  {{ "addNewSource.validationText" | translate }}
                </div>
              </div>

              <div class="px-1 mb-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <label for="quantity" class="mx-1">
                  {{ "addNewSource.quantity" | translate }}
                  <span class="text-danger valdiation-text">*</span></label
                >
                <input
                  type="number"
                  class="form-control"
                  id="quantity"
                  min="0"
                  placeholder="e.x. 2"
                  formControlName="quantity"
                />
                <div
                  id="error"
                  class="form-text d-block text-danger"
                  *ngIf="
                    submitBtnClicked && addNewSourceForm.get('quantity').invalid
                  "
                >
                  {{ "addNewSource.validationText" | translate }}
                </div>
              </div>
            </div>
          </section>
          <hr />

          <!-- Here come the RadioNuclides Pool -->
          <div id="radionuclidepool">
            <h5 class="col-12 mb-3">
              {{ "addNewSource.radionuclides" | translate }}
            </h5>
            <div
              id="error"
              class="form-text d-block text-danger"
              *ngIf="
                submitBtnClicked &&
                addNewSourceForm.get('radionuclides').invalid
              "
            >
              {{ "addNewSource.radionuclideValidationText" | translate }}
            </div>
            <ng-container formArrayName="radionuclides">
              <ng-container
                *ngFor="let alias of radionuclides.controls; let i = index"
              >
                <ng-container [formGroupName]="i">
                  <div class="m-0 p-2 w-100 row radio-1 border my-2 rounded">
                    <div
                      class="px-1 mb-3 col-lg-3 col-md-4 col-sm-12 col-xs-12"
                    >
                      <label class="mx-1"
                        >{{ "addNewSource.radionuclide" | translate }}
                        <span class="text-danger valdiation-text"
                          >*</span
                        ></label
                      >
                      <p-dropdown
                        [options]="radionulcidesList"
                        formControlName="radionuclide"
                        optionLabel="isotop"
                        [filter]="true"
                        filterBy="isotop"
                        [showClear]="true"
                        placeholder="{{ '--Select--' | translate }}"
                        #radionuclide
                        styleClass="w-100"
                      >
                        <ng-template pTemplate="selectedItem">
                          <div
                            class="country-item country-item-value"
                            *ngIf="radionuclide"
                          >
                            <div>
                              {{ radionuclide.value.isotop }}
                            </div>
                          </div>
                        </ng-template>
                        <ng-template let-r pTemplate="item">
                          <div class="country-item">
                            <div>{{ r?.isotop }}</div>
                          </div>
                        </ng-template>
                      </p-dropdown>
                    </div>

                    <div
                      class="px-1 mb-3 col-lg-3 col-md-6 col-sm-12 col-xs-12"
                    >
                      <label class="mx-1"
                        >{{ "addNewSource.initialActivity" | translate }}
                        <span class="text-danger valdiation-text"
                          >*</span
                        ></label
                      >
                      <input
                        type="number"
                        min="0"
                        class="form-control"
                        #initialActivity
                        placeholder="{{ 'mandatory' | translate }}"
                        formControlName="initialActivity"
                      />
                    </div>

                    <div
                      class="px-1 mb-3 col-lg-3 col-md-6 col-sm-12 col-xs-12"
                    >
                      <label class="mx-1"
                        >{{ "addNewSource.activityUnit" | translate }}
                        <span class="text-danger valdiation-text"
                          >*</span
                        ></label
                      >
                      <p-dropdown
                        id="radionuclides"
                        [options]="lookups['ActivityUnit']"
                        formControlName="activityUnit"
                        optionLabel="displayNameEn"
                        [filter]="true"
                        filterBy="displayNameEn,displayNameAr"
                        [showClear]="true"
                        placeholder="{{ '--Select--' | translate }}"
                        #activityUnit
                        styleClass="w-100"
                      >
                        <ng-template pTemplate="selectedItem">
                          <div
                            class="country-item country-item-value"
                            *ngIf="activityUnit"
                          >
                            <div>
                              {{ activityUnit.value.displayNameEn }}
                            </div>
                          </div>
                        </ng-template>
                        <ng-template let-r pTemplate="item">
                          <div class="country-item">
                            <div>{{ r?.displayNameEn }}</div>
                          </div>
                        </ng-template>
                      </p-dropdown>
                    </div>

                    <div
                      class="px-1 mb-3 col-lg-3 col-md-6 col-sm-12 col-xs-12"
                    >
                      <label for="initialActivityDate" class="mx-1"
                        >{{ "addNewSource.productionDate" | translate }}
                        <span class="text-danger valdiation-text"
                          >*</span
                        ></label
                      >
                      <input
                        type="date"
                        class="form-control"
                        #initialActivityDate
                        id="initialActivityDate"
                        placeholder="{{ 'mandatory' | translate }}"
                        formControlName="initialActivityDate"
                        required
                        max="{{ currentDate | date : 'yyyy-MM-dd' }}"
                      />
                      <div
                        id="error"
                        class="form-text d-block text-danger"
                        *ngIf="
                          submitBtnClicked &&
                          addNewSourceForm.get('initialActivityDate')?.errors
                        "
                      >
                        {{ "addNewSource.validationText" | translate }}
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>

          <hr />

          <!-- Source Attachments -->
          <h5 class="w-100">
            {{ "attachments" | translate }}
          </h5>
          <h6 class="col-12 mb-3 mt-2">Certificate</h6>
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
              <!-- *ngIf="isManufacturerCertificate" -->
              <div
                id="error"
                class="form-text d-block text-danger"
                *ngIf="!isSourceManufacturerCertificateValid"
              >
                {{ "attachmentsValidation" | translate }}
              </div>
              <div class="form-check form-switch mb-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="noManufacturerCertificateFlag"
                  formControlName="noManufacturerCertificateFlag"
                  #noManufacturerCertificateFlag
                  (change)="handleCertificateChange(1)"
                />
                <label
                  class="form-check-label"
                  for="noManufacturerCertificateFlag"
                  >{{ "addNewSource.doYouHaveCertificate" | translate }}</label
                >
              </div>
              <label class="mx-1"
                >{{ "addNewSource.manufacturerCertificate" | translate }}
                <span class="text-danger valdiation-text">*</span></label
              >
              <ngx-dropzone
                [accept]="'application/pdf'"
                (change)="
                  onSelect($event, AttachmentsTypes.manufacturerCertificate)
                "
                [expandable]="false"
                style="width: 100%; border: 1px solid #dee2e6"
                class="ngx-dropzone"
                [disabled]="!isManufacturerCertificate"
              >
                <ngx-dropzone-label>{{
                  "uploadAttachment" | translate
                }}</ngx-dropzone-label>
                <ngx-dropzone-preview
                  [removable]="true"
                  (removed)="
                    onRemove(f, AttachmentsTypes.manufacturerCertificate)
                  "
                  *ngFor="let f of manufacturerCertificates"
                  class="ngx-dropzone-preview"
                  [disabled]="!isManufacturerCertificate"
                >
                  <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
                </ngx-dropzone-preview>
              </ngx-dropzone>
            </div>

            <div
              class="col-lg-4 col-md-6 col-sm-12 mb-3"
              *ngIf="!isManufacturerCertificate"
            >
              <!-- *ngIf="isCharCertificate" -->
              <div
                id="error"
                class="form-text d-block text-danger"
                *ngIf="!isCharCertificateValid"
              >
                {{ "attachmentsValidation" | translate }}
              </div>
              <div class="form-check form-switch mb-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="charCertificate"
                  formControlName="noCharacterizationCertificateFlag"
                  #noCharacterizationCertificateFlag
                  (change)="handleCertificateChange(2)"
                />
                <label
                  class="form-check-label"
                  for="noCharacterizationCertificateFlag"
                  >{{
                    "addNewSource.ifYouDontHaveCertificate" | translate
                  }}</label
                >
              </div>
              <label class="mx-1"
                >{{ "addNewSource.characterizationCertificate" | translate }}
                <span class="text-danger valdiation-text">*</span></label
              >
              <ngx-dropzone
                [accept]="'application/pdf'"
                (change)="onSelect($event, AttachmentsTypes.charCertificates)"
                [expandable]="false"
                style="width: 100%; border: 1px solid #dee2e6"
                class="ngx-dropzone"
                [disabled]="!isCharCertificate"
              >
                <ngx-dropzone-label>{{
                  "uploadAttachment" | translate
                }}</ngx-dropzone-label>
                <ngx-dropzone-preview
                  [removable]="true"
                  (removed)="onRemove(f, AttachmentsTypes.charCertificates)"
                  *ngFor="let f of charCertificates"
                  class="ngx-dropzone-preview"
                  [disabled]="!isCharCertificate"
                >
                  <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
                </ngx-dropzone-preview>
              </ngx-dropzone>
            </div>

            <div
              class="col-lg-4 col-md-6 col-sm-12 mb-3"
              *ngIf="!isCharCertificate && !isManufacturerCertificate"
            >
              <div
                id="error"
                class="form-text d-block text-danger"
                *ngIf="!isSourceTagImagesValid"
              >
                {{ "attachmentsValidation" | translate }}
              </div>
              <div class="form-check form-switch mb-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="noImagesFlag"
                  formControlName="noSourceTagImageFlag"
                  (change)="handleCertificateChange(6)"
                />
                <label class="form-check-label" for="noImagesFlag">{{
                  "addNewSource.noSourceTagImageFlag" | translate
                }}</label>
              </div>
              <label class="mx-1"
                >{{ "addNewSource.sourceTagImage" | translate }}
                <span
                  *ngIf="isSourceTagImage"
                  class="text-danger valdiation-text"
                  >*</span
                >
              </label>
              <ngx-dropzone
                [accept]="'image/jpeg,image/jpg,image/png'"
                (change)="onSelect($event, AttachmentsTypes.sourceTagImage)"
                [expandable]="false"
                style="width: 100%; border: 1px solid #dee2e6"
                class="ngx-dropzone"
                [disabled]="!isSourceTagImage"
              >
                <ngx-dropzone-label>{{
                  "uploadImage" | translate
                }}</ngx-dropzone-label>
                <ngx-dropzone-image-preview
                  [removable]="true"
                  ngProjectAs="ngx-dropzone-preview"
                  [file]="f"
                  (removed)="onRemove(f, AttachmentsTypes.sourceTagImage)"
                  *ngFor="let f of sourceTagImages"
                  class="ngx-dropzone-preview"
                  [disabled]="!isSourceTagImage"
                >
                  <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
                </ngx-dropzone-image-preview>
              </ngx-dropzone>
            </div>
          </div>

          <hr />

          <h6 class="col-12 mb-3 mt-2">Other Attachments</h6>
          <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div
              id="error"
              class="form-text d-block text-danger"
              *ngIf="!isSourceCustomImportPermitsValid"
            >
              {{ "attachmentsValidation" | translate }}
            </div>
            <div class="form-check form-switch mb-2">
              <input
                class="form-check-input"
                type="checkbox"
                id="manufacturerCertificate"
                formControlName="noCustomImportPermitFlag"
                #noCustomImportPermitFlag
                (change)="handleCertificateChange(3)"
              />
              <label class="form-check-label" for="noCustomImportPermitFlag">{{
                "addNewSource.noCustomImportPermitFlag" | translate
              }}</label>
            </div>
            <label class="mx-1"
              >{{ "addNewSource.customImportPermit" | translate }}
              <span
                *ngIf="isCustomImportPermit"
                class="text-danger valdiation-text"
                >*</span
              ></label
            >
            <ngx-dropzone
              [accept]="'application/pdf'"
              (change)="onSelect($event, AttachmentsTypes.customImportPermits)"
              [expandable]="false"
              style="width: 100%; border: 1px solid #dee2e6"
              class="ngx-dropzone"
              [disabled]="!isCustomImportPermit"
            >
              <ngx-dropzone-label>{{
                "uploadAttachment" | translate
              }}</ngx-dropzone-label>
              <ngx-dropzone-preview
                [removable]="true"
                (removed)="onRemove(f, AttachmentsTypes.customImportPermits)"
                *ngFor="let f of customImportPermits"
                class="ngx-dropzone-preview"
                [disabled]="!isCustomImportPermit"
              >
                <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
              </ngx-dropzone-preview>
            </ngx-dropzone>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div
              id="error"
              class="form-text d-block text-danger"
              *ngIf="!isSourceShipperImportPermitsValid"
            >
              {{ "attachmentsValidation" | translate }}
            </div>
            <div class="form-check form-switch mb-2">
              <input
                class="form-check-input"
                type="checkbox"
                id="noShipperImportPermitFlag"
                formControlName="noShipperImportPermitFlag"
                (change)="handleCertificateChange(4)"
              />
              <label class="form-check-label" for="noShipperImportPermitFlag">{{
                "addNewSource.noShipperImportPermitFlag" | translate
              }}</label>
            </div>
            <label class="mx-1"
              >{{ "addNewSource.shipperImportPermit" | translate }}
              <span
                *ngIf="isShipperImportPermit"
                class="text-danger valdiation-text"
                >*</span
              >
            </label>
            <ngx-dropzone
              [accept]="'application/pdf'"
              (change)="onSelect($event, AttachmentsTypes.shipperImportPermits)"
              [expandable]="false"
              style="width: 100%; border: 1px solid #dee2e6"
              class="ngx-dropzone"
              [disabled]="!isShipperImportPermit"
            >
              <ngx-dropzone-label>{{
                "uploadAttachment" | translate
              }}</ngx-dropzone-label>
              <ngx-dropzone-preview
                [removable]="true"
                (removed)="onRemove(f, AttachmentsTypes.shipperImportPermits)"
                *ngFor="let f of shipperImportPermits"
                class="ngx-dropzone-preview"
                [disabled]="!isShipperImportPermit"
              >
                <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
              </ngx-dropzone-preview>
            </ngx-dropzone>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div
              id="error"
              class="form-text d-block text-danger"
              *ngIf="!isImagesValid"
            >
              {{ "attachmentsValidation" | translate }}
            </div>
            <div class="form-check form-switch mb-2">
              <input
                class="form-check-input"
                type="checkbox"
                id="noImagesFlag"
                formControlName="noImagesFlag"
                (change)="handleCertificateChange(5)"
              />
              <label class="form-check-label" for="noImagesFlag">{{
                "addNewSource.noImagesFlag" | translate
              }}</label>
            </div>
            <label class="mx-1"
              >{{ "addNewSource.sourceImage" | translate }}
              <span *ngIf="isImage" class="text-danger valdiation-text">*</span>
            </label>
            <ngx-dropzone
              [accept]="'image/jpeg,image/jpg,image/png'"
              (change)="onSelect($event, AttachmentsTypes.images)"
              [expandable]="false"
              style="width: 100%; border: 1px solid #dee2e6"
              class="ngx-dropzone"
              [disabled]="!isImage"
            >
              <ngx-dropzone-label>{{
                "uploadImage" | translate
              }}</ngx-dropzone-label>
              <ngx-dropzone-image-preview
                [removable]="true"
                ngProjectAs="ngx-dropzone-preview"
                [file]="f"
                (removed)="onRemove(f, AttachmentsTypes.images)"
                *ngFor="let f of images"
                class="ngx-dropzone-preview"
                [disabled]="!isImage"
              >
                <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
              </ngx-dropzone-image-preview>
            </ngx-dropzone>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div style="visibility: hidden">
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" type="checkbox" />
                <label class="form-check-label" for="noImagesFlag">{{
                  "addNewSource.noImagesFlag" | translate
                }}</label>
              </div>
            </div>
            <label class="mx-1"
              >{{ "addNewSource.otherDocuments" | translate }}
              <span class="text-black-50" style="font-size: 0.8em"
                >({{ "optional" | translate }})</span
              >
            </label>

            <ngx-dropzone
              [accept]="'application/pdf'"
              (change)="onSelect($event, AttachmentsTypes.otherDocumnets)"
              [expandable]="false"
              style="width: 100%; border: 1px solid #dee2e6"
              class="ngx-dropzone"
            >
              <ngx-dropzone-label>{{
                "uploadAttachment" | translate
              }}</ngx-dropzone-label>
              <ngx-dropzone-preview
                [removable]="true"
                (removed)="onRemove(f, AttachmentsTypes.otherDocumnets)"
                *ngFor="let f of otherDocumnets"
                class="ngx-dropzone-preview"
              >
                <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
              </ngx-dropzone-preview>
            </ngx-dropzone>
          </div>
        </section>

        <hr />
        <div
          class="d-flex justify-content-end align-items-center flex-wrap w-100"
        >
          <button
            class="btn btn-secondary mx-2 col-md-3 col-sm-12 col-xs-12 mb-1"
            (click)="SaveAsDraft()"
          >
            {{ "saveAsDraft" | translate }}
          </button>
          <button
            class="btn btn-gold mx-2 col-md-3 col-sm-12 col-xs-12 mb-1"
            (click)="submitNewSource()"
          >
            {{ "save" | translate }}
          </button>
        </div>
      </div>
      <!-- end of Source Type Block -->
    </form>
  </div>
</div>

<p-dialog
  header="{{ 'landingPage.selectFirstHeader' | translate }}"
  [style]="{ width: '40vw' }"
  [(visible)]="displaySelectPermitPopup"
  [draggable]="false"
  [modal]="true"
>
  {{ "addNewSource.selectPermitMsg" | translate }}
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="displaySelectPermitPopup = false"
      label="{{ 'ok' | translate }}"
      class="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
