.tableadditional thead, .tableInvoice thead, .additionalvalueTable thead, .itemsvalueTable thead {
  background-color: var(--gold);
  color: white;
}

  .tableadditional thead tr th, .itemsvalueTable thead tr th, .tableInvoice thead tr th, .additionalvalueTable thead tr th {
    font-size: 0.8em;
    text-align: center;
  }

.table td.fit,
.table th.fit {
  white-space: nowrap;
  width: 1%;
}

td.containtd input {
  width: 48%;
}
