    <!-- Activation Link Modal -->
<script>
    $(function () {
        $("#activationModal").modal("show");
    })
</script>

<div class="modal fade" id="activationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Activate New Account</h5>
            </div>
            <span class="m-2 text-center">Your account not verified yet, please check your email to activate</span>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- end of Activation Link Modal-->