<script src="~/js/Scripts/Config.js"></script>
<script src="~/js/Scripts/Account.js"></script>

<script>
    $(function () {
        LoadForgetPassword();
    })
    
</script>

    <!-- Change Password  Modal -->
    <div class="modal fade" id="resetPasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> Forget Password</h5>
          </div>
            <div id="authErrorPasswordModal" class="alert alert-danger text-center">
                <i class="fa-solid fa fa-times-circle"></i>&nbsp;
                <div id="authErrorMessagePasswordModal">
                </div>
            </div>

            <div id="authSuccessPasswordModal" class="alert alert-success text-center" role="alert">
                <i class="fa-solid fa fa-check-circle"></i>&nbsp;
                <div id="authSuccessMessagePasswordModal">
                    
                </div>
            </div>
            <span class="m-2 text-center">
                Please fill your email or Id Number to reset password
            </span>
          <div class="modal-body">
            <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="UserName" placeholder="Email / ID Number">
                    <label for="UserName">Email / ID Number</label>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" id="ResetButton" class="btn btn-gold">Reset</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- end of Change Password Modal-->