
/* 
  ======================================
              Login 2 Form Style
  ======================================
*/

:root{
  --dGray: #31353d;
  --dlGray: #3a3f48;
  --midGray: #818896;
  --lGray: #aab2c0;
  --gold: #ca9f45;
  --dgold: #a08447;
  --lgold: #f5b735;
  --green: #136f40;
  --lgreen: #368d60;
  --blue: #1a9bd8;
  --lblue: #40b5eb;
  --white: #fff;
  --black: #000;
}



@font-face {
  font-family: 'bahij';
  src: url('../fonts/BahijTheSansArabic-Plain.woff2');
}

body{
  font-family: 'Bahij';
    Background: url(../imgs/bg32.jpg) #dedede;
    background-size: cover;
    background-attachment: fixed;
    direction: rtl;
}

.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  /* font-size: 14px;
  height: 50px;
  line-height: 50px; */
}
.main-div {
    background-color: rgba(255, 255, 255, .3);  
    backdrop-filter: blur(3px);
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    margin: 10px auto 30px;
    max-width: 38%;
    padding: 50px 70px 70px 71px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form .btn.btn-primary {
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}

.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}


.btn-gold {
  background-color: var(--gold);
  color: var(--white);
  transition: all 0.3s ease-in-out;
  border: unset;
}
/* .btn-gold:hover, .btn-gold:active, .btn-gold:focus{ */
.btn-gold:hover, .btn-gold:active, .btn-gold:focus{
  background-color: var(--lgold);
  color: var(--white);
  border: unset;
}