

<div class="w-100 container border rounded shadow mt-5 bg-white px-4">



  <div class="mainContent d-flex flex-wrap justify-content-evenly align-content-center mt-4">

    <section class="lookupdiv d-flex justify-content-start align-items-start flex-wrap w-100 my-2">
      <div class="breadcrumb-w1 mb-0" class="{{lang == 'ar' ? 'lang' : ''}}">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li type="button" class="breadcrumb-item" (click)="Breadcrumb('')" style="color: #ca9f45">{{ "General.Home" | translate }}</li>
            <li type="button" class="breadcrumb-item" (click)="Breadcrumb('aman-settings')" style="color: #ca9f45">{{ "AmmanSettings" | translate }}</li>
            <li class="breadcrumb-item active" aria-current="page">{{ "Entity.PageTitle" | translate }}</li>
          </ol>
        </nav>
        <button type="button" class="btn btn-gold btn-sm mx-1" (click)="Back()"><fa-icon [icon]="faArrowAltCircleLeft"> </fa-icon> {{ "General.Back" | translate }} </button>

      </div>
      <h4 class="text-left">

        {{ "Entity.PageTitle" | translate }}

      </h4>

      <div class="row w-100 mt-3 lookupsDataEntry">

        <div class="lookupsfields ">
          <div class="w-100">
            <form [formGroup]="SubmitForm" (ngSubmit)="save()">

              <div class="row p-3 w-100 py-2">


                <div class="px-1 mb-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                  <label for="className" class="mx-1">{{ "Entity.GovernmentID" | translate }} <span class="text-danger">*</span></label>
                  <input readonly type="text" placeholder="{{ 'mandatory' | translate }}" class="form-control" [(ngModel)]="DataObject.GovernmentID" formControlName="GovernmentID" autocomplete="off" />

                </div>
                <div class="px-1 mb-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                  <label for="displayNameAr" class="mx-1">{{ "Entity.EntityNameAr" | translate }} <span class="text-danger">*</span></label>
                  <input readonly type="text" placeholder="{{ 'mandatory' | translate }}" class="form-control" [(ngModel)]="DataObject.EntityNameAr" formControlName="EntityNameAr" id="EntityNameAr" required autocomplete="off" />

                </div>

                <div class="px-1 mb-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                  <label for="displayNameEn" class="mx-1">{{ "Entity.EntityNameEn" | translate }} <span class="text-danger">*</span></label>
                  <input readonly type="text" (keypress)="OnlyEnglish($event , 200)" class="form-control" [(ngModel)]="DataObject.EntityNameEn" placeholder="{{ 'mandatory' | translate }}" formControlName="EntityNameEn" id="EntityNameEn" required autocomplete="off" />


                </div>
                <div class="px-1 mb-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                  <label for="displayNameEn" class="mx-1">{{ "Entity.PhoneNo" | translate }} <span class="text-danger">*</span></label>
                  <input readonly type="text" (keypress)="isNumberKey($event)" class="form-control" [(ngModel)]="DataObject.PhoneNo" formControlName="PhoneNo" placeholder="{{ 'mandatory' | translate }}" id="PhoneNo" required autocomplete="off" />


                </div>

                <div class="px-1 mb-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                  <label for="value1" class="mx-1">{{ "Entity.MobileNo" | translate }} <span class="text-danger">*</span></label>
                  <input readonly type="text" class="form-control" placeholder="{{ 'mandatory' | translate }}" [(ngModel)]="DataObject.MobileNo" formControlName="MobileNo" id="value1" required autocomplete="off" />

                </div>

                <div class="px-1 mb-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                  <label for="value1" class="mx-1">{{ "Entity.EmailId" | translate }} <span class="text-danger">*</span></label>
                  <input readonly type="text" class="form-control" placeholder="{{ 'mandatory' | translate }}" [(ngModel)]="DataObject.EmailId" formControlName="EmailId" id="value1" required autocomplete="off" />

                </div>


                <div class="px-1 mb-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                  <label for="value1" class="mx-1">{{ "Entity.EntityType" | translate }} <span class="text-danger">*</span></label>
                  <select class="form-select" [(ngModel)]="DataObject.EntityType" formControlName="EntityType">
                    <option value=""> -- {{ "Entity.BasCountries" | translate }} -- </option>
                    <option *ngFor="let itm of CountryList" value="{{itm.countryId}}">
                      {{ lang == "en" ? itm.countryNameEn : itm.countryNameAr }}
                    </option>
                  </select>

                </div>

                <div class="px-1 mb-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                  <label for="value1" class="mx-1">{{ "Entity.AmanInsertedOn" | translate }} <span class="text-danger">*</span></label>
                  <input readonly type="text" class="form-control" placeholder="{{ 'mandatory' | translate }}" [(ngModel)]="DataObject.AmanInsertedOn" formControlName="AmanInsertedOn" id="value1" required autocomplete="off" />

                </div>


                <div class="px-1 mb-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                  <label for="value1" class="mx-1">{{ "Entity.AmanID" | translate }} <span class="text-danger">*</span></label>
                  <select class="form-select" [(ngModel)]="DataObject.AmanID" formControlName="AmanID">
                    <option *ngFor="let itm of CityList" value="{{itm.cityId}}">
                      {{ lang == "en" ? itm.nameEn : itm.nameAr }}
                    </option>
                  </select>
                  <div *ngIf="SubmitForm.controls['AmanID'].errors && SubmitForm.controls['AmanID'].touched" class="form-text d-block text-danger">
                    ({{ "Entity.ValidAmanID" | translate }})
                  </div>
                </div>

              </div>
            </form>
          </div>
        </div><!-- end of lookupsDataEntry Div-->

      </div><!-- end of lookupsDataEntry Div-->


    </section> <!-- end of lookup Section-->
    <hr class="my-4 w-100">
    <div class="datatablediv w-100">
      <div class="datatablediv w-100">
        <div class="pb-3">
          <button type="button" (click)="ExportExel()" class="btn btn-gold btn-sm mx-1">{{ "General.ExportExcel" | translate }}  </button>
          <button type="button" (click)="Print()" class="btn btn-gold btn-sm mx-1">{{ "General.Print" | translate }}  </button>
          <button type="button" (click)="Copy()" class="btn btn-gold btn-sm mx-1">{{ "General.Copy" | translate }} </button>
        </div>
        <table datatable
               [dtOptions]="dtOptions"
               id="lookUpsDataTable" class="table datatable table-responsive table-striped table-bordered row-border table-hover table-sm w-100 overflow-auto">
          <thead>
            <tr>
              <th class="select-filter">
                {{ "Entity.EntityNameAr" | translate }}
              </th>
              <th class="select-filter">
                {{ "Entity.EntityNameEn" | translate }}
              </th>
              <th class="select-filter">
                {{ "Entity.PhoneNo" | translate }}
              </th>
              <th>
                {{ "Entity.MobileNo" | translate }}
              </th>
              <th class="select-filter">
                {{ "Entity.EmailId" | translate }}
              </th>
              <th class="select-filter">
                {{ "Entity.GovernmentID" | translate }}
              </th>
              <th class="select-filter">
                {{ "Entity.EntityType" | translate }}
              </th>
              <th class="select-filter">
                {{ "Entity.AmanInsertedOn" | translate }}
              </th>
              <th>{{ "Action" | translate }}</th>

            </tr>
          </thead>
          <tbody *ngIf="DataList?.length != 0">
            <tr *ngFor="let entity of DataList;">
              <td>{{ entity.entityNameAr }}</td>
              <td>{{ entity.entityNameEn }}</td>
              <td>{{ entity.phoneNo }}</td>
              <td>{{ entity.mobileNo}}</td>
              <td>{{ entity.emailId }}</td>
              <td>{{ entity.governmentID}}</td>
              <td>{{ entity.entityType }}</td>
              <td>{{ entity.amanInsertedOn | date: 'dd/MM/yyyy'}}</td>
              <td>
                <button class="edit btn btn-gold btn-sm mx-1" (click)="Details(entity)"> <fa-icon [icon]="faPen"> </fa-icon></button>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="DataList?.length == 0">
            <tr>
              <td colspan="5" class="no-data-available">{{ "General.NoDataFound" | translate }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>
                <input class="search-input"
                       name="entityNameAr"
                       type="text"
                       placeholder="{{ 'Entity.EntityNameAr' | translate }}"
                       style="width: 100%" />
              </th>
              <th>
                <input class="search-input"
                       name="entityNameEn"
                       id="entityNameEn"
                       type="text"
                       placeholder="{{ 'Entity.EntityNameEn' | translate }}"
                       style="width: 100%" />
              </th>
              <th>
                <input class="search-input"
                       name="phoneNo"
                       type="text"
                       placeholder="055 66..."
                       style="width: 100%" />
              </th>
              <th>
                <input class="search-input"
                       name="mobileNo"
                       type="text"
                       placeholder="055 66.."
                       style="width: 100%" />
              </th>
              <th>
                <input class="search-input"
                       name="emailId"
                       type="text"
                       placeholder="aramco@email.sa"
                       style="width: 100%" />
              </th>
              <th>
                <input class="search-input"
                       name="governmentID"
                       type="text"
                       placeholder="1235"
                       style="width: 100%" />
              </th>
              <th>
                <input class="search-input"
                       name="entityType"
                       type="text"
                       placeholder="type"
                       style="width: 100%" />
              </th>
              <th>
                <input class="search-input"
                       name="amanInsertedOn"
                       type="text"
                       placeholder="13/10/2021"
                       style="width: 100%" />
              </th>
              <th></th>
            </tr>
          </tfoot>
        </table>
      </div> <!-- end of datatablediv-->
    </div> <!-- end of datatablediv-->

  </div>

</div><!-- Main Content-->
