<li (click)="toggleMenu()" class="list-unstyled nav-item has-submenu">
  <span class="category-item-container nav-link sidebarNavLink" href="#">
    <span class="category-item-container-first">
      <fa-icon [icon]="faStopCircle" size="1x"></fa-icon>
      <span>{{ "menus" | translate }}</span>
      <!-- <ng-container [ngSwitch]="lang">
        <span *ngSwitchCase="'en'">{{menu.nameFRN}}</span>
        <span *ngSwitchCase="'ar'">{{menu.nameNTV}}</span>
      </ng-container> -->
    </span>
    <fa-icon [icon]="faArrow" size="1x" class="pt-1"></fa-icon>
    <!-- *ngIf="menu.children.length == 0" -->
  </span>
  <ul [ngClass]="clicked ? 'show' : ''" class="submenu collapse list-unstyled">
    <app-sidebar-item></app-sidebar-item>
    <app-sidebar-item></app-sidebar-item>
    <app-sidebar-item></app-sidebar-item>
    <app-sidebar-item></app-sidebar-item>
    <!-- <app-sidebar-item
      *ngFor="let option of menu.children"
      [option]="option"
    ></app-sidebar-item> -->
  </ul>
</li>
